"/Users/danielcheasman/Development/Property Logic/propertyplatformV2/app/Http/Controllers/Controller.php": "#2887A5"
"/Users/danielcheasman/Development/Property Logic/propertyplatformV2/app/Policies/UserPolicy.php": "#E012B6"
