"*":
  "atom-clock":
    dateFormat: " h:mm a"
    showClockIcon: true
  "atom-itunes":
    showEqualizer: false
    showNotes: true
  "color-picker":
    randomColor: false
  "color-tabs":
    backgroundStyle: "solid"
    markerStyle: "corner"
  core:
    disabledPackages: [
      "language-csharp"
      "language-go"
      "language-java"
      "language-less"
      "language-objective-c"
      "language-perl"
      "language-python"
      "language-toml"
      "language-ruby-on-rails"
      "language-ruby"
      "git-diff-details"
      "deprecation-cop"
    ]
    packagesWithKeymapsDisabled: [
      "process-palette"
    ]
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "one-dark-vivid-syntax"
    ]
  editor:
    fontSize: 13
    lineHeight: 1.6
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "d9dc7b48-43b9-172e-dbb7-1fc8436b80e4"
  "git-plus":
    general:
      analytics: false
      enableStatusBarIcon: false
      messageTimeout: 8
  jenkins:
    interval: 6000
    url: "https://ci.plogic.net/"
  "move-status-items":
    left: [
      "DIV.cursor-position.hide[is=\"status-bar-cursor\"]"
      "DIV.file-info[is=\"status-bar-file\"]"
      "DIV.selection-count[is=\"status-bar-selection\"]"
    ]
    right: [
      "DIV.itunes[is=\"space-pen-div\"]"
      "DIV"
      "A.line-ending-tile"
      "ENCODING-SELECTOR-STATUS.encoding-status"
      "GRAMMAR-SELECTOR-STATUS.grammar-status"
      "DIV.git-view[is=\"status-bar-git\"]"
    ]
  "php-debug":
    AutoExpandLocals: true
    currentPanelHeight: "285px"
    currentPanelMode: "bottom"
  "seti-icons": {}
  "status-bar": {}
  welcome:
    showOnStartup: false
".erb.html.text":
  editor:
    showIndentGuide: false
".html.php.text":
  editor:
    showIndentGuide: true
    tabLength: 4
